{# Accueil de l'Admin#}

{% extends 'headers/adminheader.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/interfaceAdmin/menuNews.css">
{% endblock %}

{% block body %}

<h1 style={"color=#000;"}>Bienvenue dans votre espace d'administration</h1>


{% endblock %}