@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

.formulaire{
    width:50em;
    margin:auto;
    margin-top:2em;
    padding:1em;
    background-color:#1a1a1a;
    border-radius: 25px;
    font-family: Raleway;
    color:#fff;
   
}

.btn-sucess{
    background-color:#fcd8d8;
    color:#000;
    border: none;
    border-radius: 10px;
    padding:0.3em;
    width: 10em;
    margin-left:35%;
    margin-top:2em;
    font-family: Raleway;
    font-size: 1.5em;
}

.btn-sucess:hover {
    background-color:#f8bfbf;
  }

.registration_link{
    width: 100%;
    color:rgb(158, 155, 155);
    font-size: 1vw;
    text-align: center;
    display: block;
    margin-top:0.5vw;
}

.registration_link:hover{
    color:rgb(204, 204, 204);
    text-decoration: none;
}

.cgu_link{
    color:#f8bfbf;
    font-weight: 600;
}

.cgu_link:hover{
    color:rgb(248, 211, 211);
    text-decoration: none;
}