{% extends 'base.html.twig' %}


{% block body %}

<div class="container">
    {{ form_start(form)}}
        {{ form_row(form.content,{'attr':{'placeholder' : "content",'rows' : '12', 'cols' : '100'}})}}
    {{ form_end(form)}}
</div>

{% endblock %}
