{% extends 'base.html.twig' %}

{% block stylesheets %}

<link rel="stylesheet" href="/css/news/displaynews.css">
<link rel="stylesheet" href="/css/questions/contact.css">

{% endblock %}

{% block body %}

<section class="article_news_container">

    <a class="contact" href="https://www.youtube.com/channel/UCp0Thsvsbw4tiH8-yicoUyg?view_as=subscriber">
    <p>Youtube</p> 
    <img class="contact_img" src="/images/logo/youtube.png" alt=""/>
    <p class="small">Unicornis</p> 
    </a>

    <a class="contact" href="https://www.instagram.com/unicornis_et_curedent/">
    <p>Instagram</p> 
    <img class="contact_img" src="/images/logo/instagram.png" alt=""/>
    <p class="small">Unicornis_et_curedent</p> 
    </a>

    <a class="contact" href="https://discord.gg/xFjKYb8">
    <p>Discord</p> 
    <img class="contact_img" src="/images/logo/discord.png" alt=""/>
    <p class="small">https://discord.gg/xFjKYb8</p> 
    </a>

    <a class="contact" href="https://utip.io/unicornis">
    <p>Utip</p> 
    <img class="contact_img" src="/images/logo/utip.png" alt=""/>
    <p class="small">Unicornis</p> 
    </a>

    <a class="contact" href="https://www.facebook.com/Unicornis-769251929857600">
    <p>Facebook</p> 
    <img class="contact_img" src="/images/logo/facebook.png" alt=""/>
    <p class="small">Unicornis</p> 
    </a>

    <a class="contact" href="mailto: UnicornisPro@gmail.com">
    <p>Mail Pro</p> 
    <img class="contact_img" src="/images/logo/mail.png" alt=""/>
    <p class="small">UnicornisPro@gmail.com</p>
    <p class="warning">Pour demdandes Commerciales Uniquement</p>
    </a>

    
</section>

{% endblock %}
