{% extends 'base.html.twig' %}

{% block stylesheets %}

<link rel="stylesheet" href="/css/news/displaynews.css">
<link rel="stylesheet" href="/css/questions/materiel.css">

{% endblock %}

{% block body %}

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- HeaderAd -->
        <ins class="adsbygoogle"
            style="display:block"
            data-ad-client="ca-pub-7304478402224378"
            data-ad-slot="8698432038"
            data-ad-format="auto"
            data-full-width-responsive="true"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>

<section class="article_news_container">

<div class="categorie">
    <div class="materiel">
    <p>Logiciels</p>
    </div>
    
    <div class="materiel">
    <p>Montage Vidéo</p>
    <p class="text">Première Pro CC</p>
    </div>

    <div class="materiel">
    <p>Enregistrement</p>
    <p class="text">Open Broadcaster Software</p>
    </div>

    <div class="materiel">
    <p>Live</p>
    <p class="text">Open Broadcaster Software</p>
    </div>

    <div class="materiel">
    <p>Miniatures</p>
    <p class="text">Paint Tool Saï + Ipiccy</p>
    </div>
</div>

<div class="categorie">
    <div class="materiel">
        <p>Ordinateur Portable</p>
        <p class="text">MSI GL63 8RD-272FR</p>
    </div>
    <div class="materiel">
        <p>Processeur</p>
        <p class="text">INTEL CORE </br> I5-8300H 8 GO</p>
    </div>
    <div class="materiel">
        <p>Carte Graphique</p>
        <p class="text">GTX 1050 TI 4 GO</p>
    </div>
    <div class="materiel">
        <p>Stockage</p>
        <p class="text">SSD 128 GO </br>+ HDD 1 TO 15.6"</p>
    </div>
</div>

<div class="categorie">
    <div class="materiel">
        <p>Ordinateur Fixe</p>
        <p class="text">Construction par une Conaissance</p>
    </div>
    <div class="materiel">
        <p>Aucune idée</p>
        <p class="text">Je vous listerais les composants quand je l'aurais upgrade</p>
    </div>
</div>

<div class="categorie">
    <div class="materiel">
        <p>Accessoires</p>
    </div>
    <div class="materiel">
        <p>Microphone</p>
        <p class="text">Blue Yeti</p>
    </div>
    <div class="materiel">
        <p>Accessoires Microphone</p>
        <p class="text-small">Bras Articulé : RODE PSA 1</br>
        Shock Mount : Blue Radius II</br>
        Filtre : AUPHONIX Pop Filter</p>
    </div>
    <div class="materiel">
        <p>Casque</p>
        <p class="text">S.O.G XPERT-H1</p>
    </div>
    <div class="materiel">
        <p>Webcam</p>
        <p class="text">LifeCam Studio Microsoft</p>
    </div>
</div>
    
    
</section>

{% endblock %}
