{% extends 'base.html.twig' %}

{% block stylesheets %}

<link rel="stylesheet" href="/css/news/displaynews.css">
<link rel="stylesheet" href="/css/questions/questions.css">

{% endblock %}

{% block body %}

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- HeaderAd -->
        <ins class="adsbygoogle"
            style="display:block"
            data-ad-client="ca-pub-7304478402224378"
            data-ad-slot="8698432038"
            data-ad-format="auto"
            data-full-width-responsive="true"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>

<section class="article_news_container">

<div class="question">
<h1> Qui es tu ?</h1>
<p> Je m'appelle Laura, j'ai {{age}} ans et j'étudie en informatique.</br>
Je suis également "connue" sur internet sous le nom de Unicornis.</p>
</div>

<div class="question">
<h1> Qui est PiloXx ? </h1>
<p> PiloXx, de son vrai nom Maxime, est mon petit ami. Vous le verrez apparaitre dans certaines de mes vidéos.</p>
</div>

<div class="question">
<h1> Qui est Cure-Dent ? </h1>
<p> Cure-Dent est ma mascotte. C'est la petite licorne un peu en surpoids que vous voyez partout sur ma chaine.
Il adore les cookies !</p>
</div>

<div class="question">
<h1> Star Stable </h1>
<p> Sur le jeu je m'appelle Lara Ironrider. C'est mon seul et unique compte à ce jour.
Je suis niveau 21 et je joue depuis le 12 juillet 2016.
Et non, on ne peut pas être ami. Je n'accepte pas les demandes d'ami sur le jeu.
</p>
</div>

<div class="question">
<h1> Equideow </h1>
<p> Je joue à Equideow depuis le 30/07/2011 sous le nom de Klara 1 6. Je joue uniquement sur Gaïa.
Vous pouvez m'ajouter en ami si vous le souhaitez.</p>
</div>

<div class="question">
<h1> Horse Riding Tales </h1>
<p> Je joue à HRT sous le nom de Hazel Queen 9845. Ne m'en voulez pas si je vous ignore leur chat marche jamais chez moi.</p>
</div>



</section>



{% endblock %}
