.masonrycontainer{
    width: 100%;
    background-color: red;
}

.masonry {
    background-color: khaki;
    display: grid;
    grid-gap: 20px; /* [1] Add some gap between rows and columns */
    grid-template-columns: repeat(auto-fill, minmax(400px,1fr));
    grid-auto-rows: 0;
  }

.masonry-brick{
    border:1px solid black;
    
}


 