{% extends 'base.html.twig'%}

{% block stylesheets %}

<link rel="stylesheet" href="/css/news/shownews.css">

{% endblock %}

{% block body %}

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- HeaderAd -->
        <ins class="adsbygoogle"
            style="display:block"
            data-ad-client="ca-pub-7304478402224378"
            data-ad-slot="8698432038"
            data-ad-format="auto"
            data-full-width-responsive="true"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>

    <body>

    <img class="image_news" src="/images/news_image/{{article.image}}" alt="">
            <article class="container_news">
                <h2 class="titre_articlenews"> {{article.titre}}</h2>
                <div class="contenu_articlenews">{{article.contenu | raw}}</div>
                <div class="metadata">Posté le : {{article.dateCreation | date('d/m/Y - H:i')}} </div>
            </article>


        
    </body>
{% endblock %}
