{% extends 'base.html.twig'%}

{% block stylesheets %}{% endblock %}

{% block body %}
    <body>
    <h1>COOUCOU</h1>

            <article>
                <h2 class="titre_articlenews"> {{article.titre}}</h2>
                <div class="contenu_articlenews">{{article.contenu | raw}}</div>
                <div class="metadata">Posté le : {{article.dateCreation | date('d/m/Y')}} </div>
            </article>


        
    </body>
{% endblock %}
