@import url('https://fonts.googleapis.com/css?family=Raleway:200,300,400,600,700&display=swap');

.article_news_container{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    z-index: 1;
    border: solid 1px black;
    margin : 2vw;
    width:80%;
    margin-left:10%;
}

.article_news{
    background-color: #1a1a1a;
    width : 375px;
    height: 375px;
    margin: auto;
    margin-top : 40px;
}

.image_news{
    width: 375px;
    height: 175px;
}

.contenu_news{
    width: 100%;
    height: 50%;
}

.titre_news_container{
    height: 50%;
}

.titre_news{
    color: #ffffff;
    width: 100%;
    font-size: 20px;
    font-family: Raleway;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    font-weight: 300;
}

.metadata_news{
    color:rgb(184, 184, 184);
    font-size: 15px;
    font-weight: 400;
    margin-left:10px;
}

.btn_normal{
    background-color: #fcd8d8;
    width: calc(375px / 2);
    margin: auto;
    margin-top:10px;
    margin-bottom:10px;
    font-family: Raleway;
    font-size: 25px;
    text-align: center;
    border: none;
    border-radius:5px;
    text-decoration: none;
    display: block;
    cursor: pointer;
    color:#000;
    font-weight: 500;
    

}

.btn_normal:hover{
    background-color:#f8bfbf;;
    text-decoration: none;
    color:#000;
}

.paginator{
    margin: auto;
}


.add_theme_container{
    width: 100%;
}

.add_theme{
    display: block;
    background-color: #1a1a1a;
    width : 200px;
    height: 200px;
    margin:auto;
    margin-top: 40px;
    color: #ffffff;
    text-align: center;
    font-size: 10px;
    padding-top: 10px;
    transition: 0.3s;
}

.add_theme:hover{
    text-decoration: none;
    color: #ffffff;
    background-color: #ffc4c4;
    transition: 0.3s;
    
}

.add_plus{
    width:50%;
    margin: 30px;
    
}

.crud_news{
    background-color:  #1a1a1a57;
    width: 375px;
    position: absolute;
    z-index: 3;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    transition: 0.3s;
    cursor: pointer;
}

.crud_news a{
    width: 50%;
    text-align: center;
    color:white;
    text-decoration: none;
    font-size: 20px;
}

.crud_news a:hover{
    background-color:  #1a1a1a;
    color:white;
    text-decoration: none;
    transition: 0.3s;
    cursor: pointer;
}