@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

.formulaire{
    width: 80%;
    margin: auto;
    margin-top: 1.5vw;
    color: black;
    font-size: 2vw;
}

.contenu{
    width: 100%;
    height: 20vw !important;
}

.btn-sucess{
    background-color: #fcd8d8;
    width: 50%;
    font-family: Raleway;
    font-size: 1.5vw;
    text-align: center;
    border: none;
    border-radius:5px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    color:#000;   
    margin-bottom: 1vw;
    margin-left: 25%;
   
}

.btn-sucess:hover{
    background-color:#f8bfbf;;
    text-decoration: none;
    color:#000;
}
