.image_news{
    display: block;
    height: 200px;
    width: 1000px;
    margin: auto;
    margin-top: 40px;
    object-fit: cover;
}

.container_news{
    width: 80%;
    margin: auto;
    margin-top: 40px;
    padding : 20px;
    border: 1px solid black;
}

.titre_articlenews{
    text-align: center;
    font-size: 3vh;
    margin-bottom: 40px;
}

.contenu_articlenews{
    font-size: 2.5vh;
    margin-bottom: 40px;
    padding-left : 40px;
    padding-right : 40px;
}

.metadata{
    float: right;
}

strong{
    font-weight: bold;
}