{% extends 'base.html.twig' %}

{% block stylesheets %}<link rel="stylesheet" href="/css/news/formulaire.css">{% endblock %}

{% block body %}
{{counter}}

<div class="formulaire">

    {{form_start(form)}}
        {{ form_row(form.image)}}
        <button type="submit" class="btn-sucess">Envoyer</button>
    {{form_end(form)}}
    
</div>

{% endblock %}