{% extends 'base.html.twig' %}

{% block stylesheets %}

<link rel="stylesheet" href="/css/news/displaynews.css">
<link rel="stylesheet" href="/css/avis/jeu.css">

{% endblock %}

{% block body %}
<section class="article_news_container">

    {% if is_granted('ROLE_ADMIN') %}
   
   
    {% endif %}

    {% for article in articlepage %}

        <article class="article_jeu">
        {% if is_granted('ROLE_ADMIN') %}

        <div class="crud_jeu">
            <a href="{{path('edit_news', {'id':article.id})}}">MODIFIER</a>
            <a href="{{path('remove_news_choix', {'id':article.id})}}">SUPPRIMER</a>
        </div>
        
        {% endif %}

        <div class="titre">{{article.titre}}</div>


        </article>

    {% endfor %}
    <div class="espace"></div>
    <div class="paginator">
            {{knp_pagination_render(articlepage)}} 
    </div>
    </section>
    {#Pagination des News#}
{% endblock %}
