{# View du formulaire d'Inscription #}

{% extends 'base.html.twig' %}

{% block stylesheets %}<link rel="stylesheet" href="/css/user/cgu.css">{% endblock %}

{% block body %}
<div class="cgu_container">
    <h1 class="cgu_title">Conditions Générales d'Utilisation</h1>

    <h2>Champ d’application</h2>

    <div class="cgu_content">
    Les présentes Conditions Générales d’Utilisation régissent les relations contractuelles entre tout Utilisateur du Site.
    </br>
    L’Utilisateur est invité à lire avec la plus grande attention le présent document et de renouveler sa lecture à chaque fois qu’il consulte le Site.
    </br>
    En effet, l’utilisation du Site constitue son acceptation des dites conditions générales d’utilisations.
    </br>
    </br>
    Les conditions générales présentées ici peuvent être modifiées afin de prendre en compte des changements liés à la législation française ou la modification de logiciels du site.
    </br> 
    Une consultation de ces Conditions Générales d’Utilisation doit donc être réalisée régulièrement par l’Utilisateur.
    </div>

    <h2>Droit de propriété intellectuelle</h2>

    <div class="cgu_content">
    La Personne Editrice du site www.unicornis.party est le propriétaire exclusif de tous les droits de propriété intellectuelle portant tant sur la structure que sur le contenu du Site.
    </br>
    Tous les éléments figurant sur le présent Site (images, bases de données, marques, illustrations, logos, dessins, modèles, mise en page, documents téléchargeables) sont protégés en tant qu’œuvres de l’esprit par la législation française et internationale sur le droit d’auteur et la propriété intellectuelle.
    </br> 
    Sauf autorisation préalable et écrite, toute reproduction, représentation, adaptation, modification partielle ou intégrale de tout élément composant le Site, par quelque moyen que ce soit, est interdite sous peine de poursuite judiciaire.
    </div>


    <h2>Informations nominatives et données personnelles</h2>

    <div class="cgu_content">
    www.unicornis.party s’engage à respecter la réglementation en vigueur applicable au traitement de données à caractère personnel et, en particulier, le règlement (UE) 2016/679 du Parlement européen et du Conseil du 27 avril 2016 applicable à compter du 25 mai 2018.
    </div>
</div>
{% endblock %}