{% block stylesheets %}<link rel="stylesheet" href="/css/user/profil.css">{% endblock %}


{% block body %}
{{ form_start(form) }}
{{ form_row(form.oldpassword) }}
{{ form_row(form.newpassword) }}

<button  type="submit" class="btn">Enregistrer</button>
{{ form_end(form) }}

{% endblock %}